.cimekh1{
   font-size: 64px;
   text-align: center;
}
.cimekh2 {
    font-size: 35px;
    text-align: center;
}
 .cimekh3{
    font-size: 27px;
    text-align: center;
 }
.container {
    display: flex; 
    justify-content: space-between; 
    margin: 20px;
}

.section {
    width: 30%; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}

.section h2 {
    text-align: center; 
}
.nagyobb{
    font-size: 25px;
}

.small-text {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    font-size: 12px; 
    color: blue; 